# Web & Backend
Flask
gunicorn

# Automation & Testing
pytest
pytest-xdist
pytest-html
pytest-order
selenium
selenium-wire
webdriver-manager

# Async / Networking
trio
requests

# Data & Utilities
Faker
python-dotenv
PyYAML

# Files, PDFs & Images
Pillow
pdfplumber
ocrmypdf

# Database & Integrations
ldap3

# Desktop / OS Automation
PyAutoGUI
pynput

# Misc / Tooling
coloredlogs
tqdm
mitmproxy
